profiles {
    standard {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '2 GB'
    }
    ci {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '2 GB'
    }
}

manifest {
    name        = 'liquid-biopsy-pipeline'
    description = 'QC/Trim -> Pseudo-alignment -> Differential Expression mini pipeline'
    version     = '0.1.0'
}
